.App {
  text-align: center;
  background: #26223f;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.img  {
  border: 2px solid #55c5e9; /* Рамка вокруг фотографии */
  padding: 15px; /* Расстояние от картинки до рамки */
  background: #666; /* Цвет фона */
  margin-right: 10px; /* Отступ справа */
  margin-bottom: 10px; /* Отступ снизу */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
